.center {
   padding-right: calc(50% - 600px);
   padding-left: calc(50% - 600px);
}
.header {
   position: relative;
   font-size: 26px;
}

.navbar-brand {
   color: #000;
}
.nav-link {
   color: #000;
}
.nav-link.disabled {
   color: #000;
}

.position {
   position: fixed;
   top: 0; 
   right: 0;
   left: 0;
}
.main {
   text-align: justify;
   margin-top: 80px;
}
h1 {
   text-align: center;
   margin-bottom: 40px;
}
.main__p {
   margin-top: 100px;
}
.img-fluid {
   max-width: 100%;
   height: cover;
   
}
.carousel-control-next-icon {
   background-image: url('img/forward-solid.svg');
   
}
.carousel-control-prev-icon {
   background-image: url('img/backward-solid.svg');
}

.nav__pagination {
   margin-top: 40px;
   justify-content: center;
   display: flex;
   align-items: center;
}
.pagination_bc {
   background-color: rgb(235, 121, 222);
}


@media(max-width: 1250px) {
  .center {
    padding-left: calc(50% - 47%);
    padding-right: calc(50% - 47%);
    width: 100vw;
  }
